<div class="container">

    <div class="bg-image"></div>

    <div class="rotating-image">Admission Open</div>

    <div class="text-center">
        <h1 class="display-4">StudentManagementSystem</h1>
    </div>
</div>